*.o
*.a
*.sw?
*.dll
*.vdm
*.exe
mpclient
mpclient_x64
avscript
eicar.com
.gradle/
.idea/
mpcache-*
bdclient
bdclient_x64
bddeamon_x64
lib/
intercept/build
dummy/
crashes/
bdclient_x64_debug
libfuzzer_target
fuzzers/test_inputs
virtual_mem_range.txt
.vscode/
corpus/
*.so
userdb.txt
venv/
*.core
*corpus*
*out*/
*.log
plugins.txt
*.zip
